name: ci

on:
  push:
    branches:
      - 'main'
      - 'development'
      - 'feature-*'
      - 'release-*'
      - 'hotfix-*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
          -
            name: Checkout 
            uses: actions/checkout@v3
          -
            name: Compile application
            run: npm ci
          - 
            name: Generate node modules
            uses: actions/upload-artifact@v3
            with:
              name: node_modules
              path: node_modules
  # test:
  #   needs: build
  #   runs-on: ubuntu-latest
  #   steps:
  #         -
  #           name: Checkout 
  #           uses: actions/checkout@v3
  #         - 
  #           name: Get node modules
  #           uses: actions/download-artifact@v3
  #           with:
  #             name: node_modules
  #         -
  #           name: Run unit tests
  #           run: |
  #             npm i -g mocha
  #             npm test
  publish:
    # needs: test
    needs: build
    runs-on: ubuntu-22.04
    steps:
          -
            name: Checkout 
            uses: actions/checkout@v3
          - 
            name: Extract branch name
            shell: bash
            run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
            id: extract_branch
          -
            name: Login to Docker Hub
            uses: docker/login-action@v2
            with:
              username: ${{ secrets.DOCKER_HUB_USERNAME }}
              password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
          - 
            name: Get node modules.
            uses: actions/download-artifact@v3
            with:
              name: node_modules
              path: node_modules
          -
            name: Build and push
            run: |
              ls -la
              docker build . -t ${{ secrets.DOCKER_HUB_USERNAME }}/sample-app-node:latest
              docker tag ${{ secrets.DOCKER_HUB_USERNAME }}/sample-app-node:latest ${{ secrets.DOCKER_HUB_USERNAME }}/sample-app-node:${{ github.sha }}
              docker tag ${{ secrets.DOCKER_HUB_USERNAME }}/sample-app-node:latest ${{ secrets.DOCKER_HUB_USERNAME }}/sample-app-node:${{ steps.extract_branch.outputs.branch }}
              docker push ${{ secrets.DOCKER_HUB_USERNAME }}/sample-app-node:${{ github.sha }}
              docker push ${{ secrets.DOCKER_HUB_USERNAME }}/sample-app-node:${{ steps.extract_branch.outputs.branch }}
            id: buid_push_image
